/* Taille des boites */

*{
    box-sizing: border-box;
}

/* navigations */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* marges de navigateur */
body {
    margin: 0;
}

/* --- VARIABLES --- */

:root {
    --gris: #797979;
    --beige: #E6DACD;
}


/* --- TEXTES --- */
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

h1 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.titre-2 {
    text-transform: uppercase;
    color: var(--gris);
    text-align: center;
    margin-top: 60px;
}

.topbar-nav {
    margin-right: 65px;
}

.topbar-nav a,
.topbar-nav a:visited {
    color: var(--gris);
    font-weight: 600;
    text-decoration: none;
}

.topbar-nav a:hover,
.topbar-nav a:focus,
.topbar-nav a:active {
    color: #fff;

}

/* paragraphes */
p {
    color: var(--gris);
    font-size: 1.100rem;
    font-weight: 500;
    line-height: 1,25;
    text-align: center;

}

.logo {
    width: 70px;
    cursor: pointer;
}

.navigation {
    align-items: center;
    margin-bottom: 60px;
}

.header-cover {
    background-color: var(--beige);
    background-position: center;
    background-size: cover;
    padding-top: 40px;
    height: 900px;
}

/* footer */

footer {
    background-color: var(--beige);
    height: 250px;
    padding-top: 60px;
    margin-top: 60px;
}

.trait {
    border: 1px solid #fff;
  border-radius: 5px;
}

.mentions {
    color: #fff;
}


/* minature */


.mini {
    cursor: pointer;
    transition: all .3s;
}

.ex {
    width: 1300px;
    text-align: center;
    margin:auto;
    display:flex;
}

body {
    background-color: var(--beige);
    display: flex;
    justify-content: center;
}

/* formulaire */
    
    .contactez-nous {
    width: 700px;
    border: 1px solid white;
    border-radius: 8px;
    padding: 0 50px 0 50px;
    background: white;
    margin: auto;
    }
    
    .contactez-nous > h1 {
    color: var(--gris);
    }
    
    .contactez-nous > p {
    font-weight: 300;
    }
    
    form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 83px;
    margin-top: 25px;
    }
    
    form div > label {
    margin-bottom: 7px;
    font-weight: 600;
    }
    
    form div > input, form div > select, form div > textarea {
    background:var(--gris);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: Montserrat, "sans-serif";
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
    }
    
    form div > input, form div > select {
    height: 50px;
    padding-left: 10px;
    }

    
    form div > textarea {
    height: 195px;
    padding: 15px 0px 0px 10px;
    }
    
    form div > input::placeholder, form div > textarea::placeholder {
    color: white;
    }
    
    form div > select:invalid {
    color: white;
    }
    
    form div > select option {
    background: white;
    color: #303030;
    }
    
    form div:last-child {
    align-items:center;
    margin-top: 20px;
    }
    
    form button {
    width: 450px;
    max-width: 300px;
    height: 60px;
    font-weight: 700;
    font-size: 28px;
    background: white;
    border: rgba(48, 48, 48, 0.5) solid 1px;
    border-radius: 7px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    color:var(--gris);
    cursor: pointer;
    }